<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitterClone</title>
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        {% include "./partials/toolbar.html" %}
    </div>
    <div id="page">
        <div id="profile">
            <img src="/static/profile.png" alt="profile picture" width="160">
            <h1>{{ user.username }}</h1>
            <div class="statsholder">
                <h5 class="stats">Tweets</h5>
                <p class="stats" id="posts">{{ tweet_count }}</p>
                <h5 class="stats">Following</h5>
                <p id="follows" class="stats">{{ follow_count }}</p>
                <a href="/user/{{ request.user.id }}/"><button>My Profile</button></a>
            </div>
        </div>
        <div id="tweets">
            <h1>Tweets</h1>
            {% include './partials/tweet.html' %}
        </div>
    </div>
</body>

</html>