<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/notify.css">
    </head>
    <body>
        <div id="header">
            {% include './partials/toolbar.html' %}
        </div>
        <div id="page">
            <h1>Notifications</h1>
{#            {% if notifications.viewed is False %}#}
                {% for note in notifications %}
                    {% if note.viewed is False %}
                        <div id="notif">
                            <a class="tweetlink" href="/user/{{ note.message.author_id }}/">{{ note.message.author.username }}</a>
                            <a class="tweetlink" href="/tweet/{{ note.message.id }}/">{{ note.message.date }}</a>
                            <p>{{ note.message.text }}</p>
                        </div>

                    {% endif %}
                {% endfor %}
{#            {% else %}#}
                <div>
                    <h4>You have no more notifications.</h4>
                </div>
{#            {% endif %}#}
        </div>
    <!-- /#notifications -->
    </body>
</html>