<html>
    <head>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
    <div id="header">
        {% include './partials/toolbar.html' %}
    </div>
    <!-- /#header -->
    <div id="page">
        <div id="profile">
            <img src="/static/profile.png" width="160px" alt="profile picture">
            <h1>{{ user.username }}</h1>
            <div class="statsholder">
                <h5 class="stats">Tweets</h5>
                <p class="stats" id="posts">{{ tweet_count }}</p>
                <h5 class="stats">Following</h5>
                <p id="follows" class="stats">{{ follow_count }}</p>
                <a style='display: flex; flex-direction: column;' href="/follow/{{ user.id }}/"><button>Follow</button></a>
                <a style='display: flex; flex-direction:column;' href="/unfollow/{{ user.id }}/"><button>Unfollow</button></a>

            </div>
        </div>
        <div id="tweets">
            <h1>Tweets</h1>
            {% include './partials/tweet.html' %}
        </div>
    </div>
    </body>
</html>